@model IEnumerable<Sheep.SiteV2.Api.Models.Animal>
@{
        ViewData["Title"] = "Animals Page";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Sheep Currently on the Farm</h2>
        <h3>Last updated: @(System.DateTime.Now)</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Animal</th>
                    <th>DOB</th>
                    <th>Gender</th>
                </tr>
            </thead>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Edit Table</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Update Sheep <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="nav-item active">
            <a class="nav-link" href="/api/animals/post">Add <span class="sr-only">(current)</span></a>
            </li>
            <a class="nav-link" href="/api/animals/delete">Delete <span class="sr-only">(current)</span></a>
            </li>
            <a class="nav-link" href="/api/animals/put">Update <span class="sr-only">(current)</span></a>
            </li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>
      </ul>
    </div>
  </div>
</nav>

            <tbody>
                @foreach (var animal in Model)
                {
                    <tr>
                        <td>@animal.Id</td>
                        <td>@animal.sheepDOB</td>
                        <td>@animal.sheepGender</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>