<div>
    <center>
    <h1>Welcome to SheepFit!</h1>
    <h5>SheepFit is a web application that allows sheep owners to manage the health of their animals.</h5>
    </center>
</div>

<div>
    <center>
    <img src="https://preview.ibb.co/hGJB7S/sheep.jpg" alt="sheep" border="0">
    <h6>This application was developed by Allie Begg, Edina Celic, Laura Kehres, and Trent Schroeder.</h6>
    
    </center>
</div>
