<div>
    <center>
    <h1>Welcome to SheepFit!</h1>
    <br>
    <h5>SheepFit is a web application that allows sheep owners to manage the health of their animals.</h5>
    <br>
    </center>
</div>

<div>
    <center>
    <img src="https://preview.ibb.co/hGJB7S/sheep.jpg" alt="sheep" border="0">
    <br>
    <h6>This application was developed by Allie Begg, Edina Celic, Laura Kehres, and Trent Schroeder.</h6>

 <br>


    <tabl width= "700">
            <thead>
                <tr>
                    <th><button type="button" onclick="alert('This feature not available until version 2!')">Add new Sheep</button></th>
                    <th><button type="button" onclick="alert('This feature not available until version 2!')">Add new Pregnancy</button></th>
                    <th><button type="button" onclick="alert('This feature not available until version 2!')">Add new Treatment</button></th>
                    <th><button type="button" onclick="alert('This feature not available until version 2!')">Add new Vaccine</button></th>
                </tr>
            </thead>
            
        
    
    </center>
</div>
